root = true

[*]
charset = utf-8
insert_final_newline = true

[*.{txt,md}]
indent_style = space
indent_size = 2

[*.{js,html,css}]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4

[*.vim]
indent_style = space
indent_size = 4

[.gitmodules]
indent_style = tab
indent_size = 4

[*.snippets]
indent_style = tab
indent_size = 4
